.Lockout-container {
    /* background: navy; */
    margin: 0 4% 4% 0;
    /* box-shadow: 0px 13px 40px -13px #000000bf; */
    /* border-radius: 10px; */
    justify-content: center;
    text-align: center;
  }
  
  .Lockout_icon {
    -webkit-transition:  -webkit-transform .2s ease-out;
    -moz-transition: -moz-transform .2s ease-out;
    -o-transition: -o-transform .2s ease-out;
    -ms-transition: -ms-transform .2s ease-out; 
    transition: transform .2s ease-out;
    width: 200px;
    height: 200px;
    margin: 5% 0 5% 0;
  }
  
  .Lockout_icon:hover {
    -webkit-transform:scale(1.1);
    -moz-transform:scale(1.1);
     -o-transform:scale(1.1);
    transform:scale(1.1);
    cursor: pointer;
  }