.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.slider-container{
  background:url(https://images.wallpaperscraft.com/image/city_coast_glow_167464_3840x2400.jpg) no-repeat center;
    
    display:flex;
    align-items:center;
    justify-content:center;
}

.slider-brightness-box{
  width:400px;
  height:60px;
  
  background:#f9f9f9;
  
  border-radius:8px;
  
  padding:0 20px;

  display:flex;
  align-items:center;
  justify-content:space-between;
}

.slider-brightness-box i {
  margin:0 10px;
}

#slider-range {
  width:100%;
  height:3px;
  
  /*tira a barra do input range*/
  -webkit-appearance:none;
  
  background:#0a85ff;
  
  outline:none;
}

#slider-range::-webkit-slider-thumb {
  -webkit-appearance:none;
  
  background:#333;
  
  width:22px;
  height:22px;
  
  border-radius:50%;
  
  cursor:pointer;
}

.slider-curtain-box{
  width:550px;
  height:60px;
  
  background:#f9f9f9;
  
  border-radius:8px;
  
  padding:0 20px;

  display:flex;
  align-items:center;
  justify-content:space-between;
}

.slider-curtain-box i {
  margin:0 10px;
}


/* Calendar */
.css-1hbyad5-MuiTypography-root{
  display: none !important;
}
.css-4pax7l-MuiPickersLayout-root .MuiPickersLayout-toolbar{
  background-color: #DBEAFE;
}

.css-1qs309j-MuiButtonBase-root-MuiPickersDay-root.Mui-selected{
  background-color: #2563EB !important;
}

.css-1e6y48t-MuiButtonBase-root-MuiButton-root {
  display: none !important;
}

.animate-spin-fast {
  animation-duration: 0.8s;
}