Adafruit-Blinka==8.19.0
adafruit-circuitpython-busdevice==5.2.6
adafruit-circuitpython-pcf8591==1.0.16
adafruit-circuitpython-register==1.9.16
adafruit-circuitpython-requests==1.14.0
adafruit-circuitpython-typing==1.9.4
Adafruit-PlatformDetect==3.46.0
Adafruit-PureIO==1.1.11
dnspython==2.3.0
dotenv==0.0.5
numpy==1.24.3
pyftdi==0.54.0
pymongo==4.3.3
pyserial==3.5
pyusb==1.2.1
rpi-ws281x==5.0.0
RPi.GPIO==0.7.1
sysv-ipc==1.1.0
typing-extensions==4.6.3
